# SERVER PORT
PORT=3000

# RESEND EMAIL CONFIGURATION
RESEND_API_KEY=re_replace_this_with_your_actual_resend_api_key
RESEND_TO_EMAIL=adfordge.marketing@gmail.com

# GOOGLE RECAPTCHA V2 KEYS
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lc0BVstAAAAAO2_FNzwyuFZ-aUgivoGJLFkXW8f
RECAPTCHA_SECRET_KEY=6Lc0BVstAAAAAOaGOo-j1THP6ZXCFwui5qR_kCsl
